// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Define variables for your color scheme

$white: #F4F4F4;
$black: #051303;
$gray-mouse: #EDF0EF;

$sage: #6F967A;
$green-forest: #3e5e43;
$pumpkin: #bd650c;
$dutch-white: #fffaf0;
$burnt-umber: #8C271E;
