// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


// Define fonts for body and headers
$headers-font: "Crimson Pro", "Helvetica", "sans-serif";
$body-font: "Montserrat", "Helvetica", "sans-serif";


// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 900

.crimson-pro {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
}
