.rounded-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  color: $white;
  text-decoration: none;
}

.position-left {
  position: absolute;
  left: 15px;
}
.position-right {
  position: absolute;
  right: 15px;
}

.rounded-button:hover {
  opacity: 0.8;
}

.rounded-button:focus {
  opacity: 0.5;
}
