<div class="mobile-container d-flex flex-column align-items-center gap-20">
  <%= render "shared/side_panel_header", title: "Reporter quand ?", back_button: true, delete_button: false %>
  <%# je veux réafficher le nom de la tâche puis un formulaire uniquement pour changer la date %>
  <h4><%= @task.name %></h4>
  <%= render "form_report", task: @task %>
</div>
