<div class="mobile-container bg-primary text-white d-flex flex-column align-items-center gap-20">
<div id="calendar" data-controller="calendar"
  data-calendar-tasks-value='<%= @tasks.to_json %>'
  data-calendar-month-value='<%= @tasks.last.date.month %>'
  data-calendar-year-value='<%= @tasks.last.date.year %>'>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
</div>
