<div class="mobile-container d-flex flex-column align-items-center gap-20">
  <!-- TODO: Hotwire reload -->
  <div>
    <div class="date-task">
      <h1>Tâches du <%= I18n.l(@en_date, format: "%d %B") %></h1>
    </div>
    <% if @grouped_task == {} %>
      <h2>Pas de tache aujourd'hui.</h2>
    <% else %>
      <% @grouped_task.each do |culture, tasks| %>
        <div class="culture-card row col-sm-6 card row col-sm-6 card card-body card-title task-card">
          <% culture = Culture.find_by(name: culture) %>
          <div class="col-sm-6 card card-body card-title task-card w-100 ps-2 p-0" data-controller="toggle">
            <div class="culture-name">
              <h2 class="montserrat"><%= culture.name.upcase %></h2>
            </div>
            <div class='icons_tasks'>
              <div class='d-flex gap-1 max-w'>
                <% tasks.each do |task| %>
                  <div class="picto-task">
                    <i class='<%= task.category_picto%>'></i>
                  </div>
                <% end %>
              </div>
              <div class="picto-coche" data-toggle-target="tourne">
                <i class="fa-solid fa-circle-chevron-down fa-2xl" style="color: #FFFFFF;" data-action="click->toggle#fire"></i>
              </div>
            </div>
            <div class="d-none w-100 mt-3" data-toggle-target="togglableElement">
              <% tasks.each do |task| %>
                <%= render "validate_task", task: task %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
