<% cultures.each_with_index do |culture, i| %>
  <%= link_to culture_path(culture) do %>
    <% if i.between?(startrange, endrange)%>
      <div class="hexa">
        <i class='<%= culture.culture_picto%> fs-54' style="max-height: 64px;"></i>
      </div>
    <%end%>
  <%end%>
<%end%>
<%if cultures.length <= startrange%>
  <% numberplace.times do %>
    <div class="hexa disabled-hexa"></div>
  <% end %>
<%else %>
  <% ((startrange + numberplace) - cultures.length).times do %>
    <div class="hexa disabled-hexa"></div>
  <% end %>
<%end%>
