<div class="mobile-container bg-primary text-white d-flex flex-column align-items-center gap-20 padding-bottom-120">
  <%= render "shared/title" %>
  <%= render "cultures_ honeycomb", cultures: @cultures%>
</div>
