<nav class="down-navbar">
  <%= link_to cultures_path, class: "text-decoration-none" do%>
    <i class="fa-solid fa-house color-sage"></i>
  <%end%>
  <!--TODO: lien tâches du jour -->
  <%= link_to tasks_path(date: Date.today), class: "text-decoration-none" do%>
    <i class="fa-solid fa-list color-sage"></i>
  <%end%>
  <%= link_to tasks_path, class: "text-decoration-none" do%>
    <i class="fa-regular fa-calendar color-sage"></i>
  <%end%>
  <%= link_to profile_path, class: "text-decoration-none" do%>
    <i class="fa-solid fa-user color-sage"></i>
  <%end%>
</nav>
