<div class="d-flex justify-content-center align-items-center w-100 position-static h-64">
  <%= link_to cultures_path, class: "rounded-button position-left" do %>
    <i class="fa-solid fa-arrow-left"></i>
  <%end%>
  <h1 class="fw-bold fs-1 m-0">
    <%= title %>
  </h1>
</div>
