<%# Carte de météo et conseil %>

<%# Carte de bienvenue %>

<div class = "long-card d-flex justify-content-between">
  <div class = "advice-card d-flex align-items-center">
    <div><i class="fi fi-rs-raindrops icon"></i>Aujourd'hui, pas d'arrosage pour tes plantes d'extérieur !</div>
  </div>
  <div class = "meteo_card">
    <h5>Nantes</h5>
    <i class = "fi fi-rs-cloud-showers-heavy"></i>
    <div>8°C</div>
  </div>
</div>

<div class= "long-card welcome-card mb-3">
  <%= link_to cultures_path do %>
    <div class= "d-flex justify-content-between align-items-center">
      <div>
        <div class = "greeting" >Bonjour <%= current_user.username.capitalize %></div>
        <div>On va voir ce qu'il se passe <br> dans ton jardin ?</div>
      </div>
      <div>
        <i class="fi fi-rr-arrow-small-right"></i>
      </div>
    </div>
  <% end %>
</div>
