<div class="mobile-container bg-primary text-white d-flex flex-column align-items-center gap-20 padding-horizontal-15 padding-bottom-120">
  <%= render "shared/title" %>
  <div class="icon">
    <%= image_tag "let-it-grow-logo.svg" %>
  </div>
  <% if user_signed_in? %>
    <!-- TODO: Faire le contenu de la partial -->
    <%= render "user_welcome"%>
  <%else%>
    <%= render "shared/login" %>
  <%end%>
</div>
