.select_culture{
  position: relative;
  appearance: none;
}
.select_culture::after{
      content: asset-url("arrow_dropdown.png");
      display: inline-block;
      position: absolute;
      top: 30px;
      left: 450px;
}
