.select-culture {
  position: relative;
  appearance: none;
  margin-bottom: 20px;
  font-weight: 500px;
  color: #051303;
}

.select-culture::after {
  content: asset-url("arrow_dropdown.png");
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 450px;
}

.icon-input-position {
  position: absolute;
  top: 30px;
  right: 40px;
}
