
.btn-warning {
  box-shadow: 3px 3px 3px rgba(45, 45, 45, 0.5);
}

.form-container {

  .flight-types {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px;

    .radio-group {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .single-button {
      display: inline-flex;
      width: 100%;
      justify-content: center;
      border: 2px solid $sage;
      ;
      border-radius: 30px;
      overflow: hidden;
      margin-bottom: 20px;
      font-weight: 500;
      color: $black;
    }

    .radio-option {
      width: 50%;
      margin: 0px;

      input[type="radio"] {
        display: none;
        margin: 0px;
      }

      label {
        display: block;
        padding: 20px 20px;
        background-color: $gray-mouse;
        color: $black;
        cursor: pointer;
        transition: all 0.3s ease;
        text-align: center;
        height: 100%;
        margin: 0px;

        &:hover {
          background-color: $dutch-white;
          color: $gray-mouse;
          margin: 0px;
        }
      }

      input[type="radio"]:checked+label {
        background-color: $dutch-white;
        color: $green-forest;
        margin: 0px;
      }

      &:first-child label {
        border-right: 1px solid $green-forest;
        margin: 0px;
      }

      input[type="select"] {
        margin: 0px
      }
    }
  }
}
