.long-card {
  width: 90%;
  height: 125px;
  margin : 3px;
  border-radius: 20px;
  margin-bottom: 15px;
}


.welcome-card {
  box-shadow: 3px 3px 3px rgba(45, 45, 45, 0.5);
  background-color: $green-forest ;
  padding : 15px;

  a {
    color : white;
  }

  p {
    font-size: 10px;
  }

  .greeting {
    font-size: 28px;
    font-family: "Crimson Pro", serif;
  }

  i {
    font-size: 40px;
  }
}


.meteo_card {
  width: 35%;
  padding : 15px;
  border-radius: 20px;
  border : 2px solid;
  border-color: $green-forest;
}

.advice-card{
  width: 60%;
  padding : 15px;
  border-radius: 20px;
  border : 2px solid;
  border-color: $green-forest;

  .icon {
    margin-right: 10px;
  }
}

.catchphrase {
  font-size: 30px;
  font-family: "Crimson Pro", serif;
  font-weight: 500;
  line-height: 120%;
}
