.logo img {
  height: 200px;
  margin-bottom: 20px;
  filter: invert(99%) sepia(7%) saturate(93%) hue-rotate(178deg) brightness(112%) contrast(91%);
}

.long-card {
  width: 90%;
  margin : 3px;
  border-radius: 20px;
  margin-bottom: 15px;
  height: 150px;
}


.meteo_card {
  width: 35%;
  padding: 15px;
  border-radius: 20px;
  border: 2px solid $green-forest;
}
.content {
  margin-top: 15px;
}
.content_meteo{
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.icon {
  font-size: 30px;
  display: flex;
  justify-content: flex-start;
}

.advice-card {
  width: 60%;
  padding: 15px;
  border-radius: 20px;
  border: 2px solid $green-forest;
}

.catchphrase {
  font-size: 30px;
  font-family: "Crimson Pro", serif;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 30px;
}


.welcome-card {
  // box-shadow: 3px 3px 3px rgba(45, 45, 45, 0.5);
  background-color: $green-forest ;
  padding : 15px;
  height: 125px;

  a {
    color : white;
  }

  p {
    font-size: 10px;
  }

  .greeting {
    font-size: 28px;
    font-family: "Crimson Pro", serif;
  }

  i {
    font-size: 40px;
  }
}
