.tourne {
  transform: rotate(180deg); /* Équivalent à rotateZ(45deg) */
}

.max-w {
  max-width: 170px;
  flex-wrap: wrap;
}

.picto-task {
  border-radius: 100%;
  height: 54px;
  width: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $green-forest;
  color: white;
}

.picto-task i {
  font-size: 25px;
  max-height: 30px;
}

.picto-bas {
  border-radius: 100%;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $green-forest;
  color: white;
}

.picto-bas i {
  font-size: 19.5px;
  max-height: 22px;
}

.titre-task {
  
}
