// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/input";
@import "config/ui_custom";
@import "config/side_panel";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Import style simple calendar
@import "simple_calendar";

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.mobile-container {
  width: 100%;
  max-width: 767px;
  min-height: 100vh;
  padding-top: 20px;
}

.rounded-50 {
  border-radius: 50px;
}

.gap-20 {
  gap: 20px;
}

.h-64 {
  height: 64px;
}

.fs-64 {
  font-size: 64px;
}

.fs-150 {
  font-size: 150px;
}

.padding-horizontal-15 {
  padding-inline: 15px;
}

.padding-bottom-120 {
  padding-bottom: 120px;
}

.rounded-top-30 {
  border-radius: 30px 30px 0 0;
}

.rounded-top-40 {
  border-radius: 40px 40px 0 0;
}

/* PAGE cultures index */

.icon img {
  /* width: 50px; */
  height: 300px;
  margin-bottom: 20px;
  filter: invert(99%) sepia(7%) saturate(93%) hue-rotate(178deg) brightness(112%) contrast(91%);
}

/* Doit rester dans ce fichier sinon ça ne fonctionne pas *
/* cultures show */


/* Doit rester dans ce fichier sinon ça ne fonctionne pas */
ul {
  list-style-type: none;
  margin: unset;
  padding: unset;
}

.task-list:hover p {
  color: $dutch-white;
}

a {
  text-decoration: none;
}
// label {
//   display: none;
// }
